@font-face {
    font-family: monserrat;
    src: url(../font/monserrat.ttf);
}

html {
    scrollbar-width: none;
    cursor: default;
}

body {
    font-family: "monserrat";
    -ms-overflow-style: none;
    background-image: url(../images/wallpaper.jpg);
    height: 100%;
}

body::-webkit-scrollbar{
    display: none;
}

a:link, a:visited{
    text-decoration: none;
    color: black;
}

::selection {
    color: white;
    background: rgb(88, 184, 88);
}

.card {
    box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    /* width: 35%; */
    border-radius: 1rem;
    float: left;
    margin: 1rem;
}

.project-card {
    box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.2);
    margin: 1rem;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(150, 150, 150));
    transition: 0.5s;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.card:hover, .project-card:hover {
    box-shadow: 0 0.6rem 1.2rem 0 rgba(0,0,0,0.2);
    transform: scale(1.01);
}

.card-container {
    padding: 0 1rem;
}

.card-img {
    border-radius: 1rem 1rem 0 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
